<div>
  <h2 id="page-heading" data-cy="CidadeHeading">
    <span jhiTranslate="sistemaTeatroApp.cidade.home.title">Cidades</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sistemaTeatroApp.cidade.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cidade"
        [routerLink]="['/cidade/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sistemaTeatroApp.cidade.home.createLabel"> Create a new Cidade </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cidades?.length === 0">
    <span jhiTranslate="sistemaTeatroApp.cidade.home.notFound">No cidades found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="cidades && cidades.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="sistemaTeatroApp.cidade.nomeCidade">Nome Cidade</span></th>
          <th scope="col"><span jhiTranslate="sistemaTeatroApp.cidade.uf">Uf</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cidade of cidades; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cidade', cidade.id, 'view']">{{ cidade.id }}</a>
          </td>
          <td>{{ cidade.nomeCidade }}</td>
          <td>{{ cidade.uf }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/cidade', cidade.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/cidade', cidade.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(cidade)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
