<div>
  <h2 id="page-heading" data-cy="TeatroHeading">
    <span jhiTranslate="sistemaTeatroApp.teatro.home.title">Teatros</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sistemaTeatroApp.teatro.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-teatro"
        [routerLink]="['/teatro/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sistemaTeatroApp.teatro.home.createLabel"> Create a new Teatro </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="teatros?.length === 0">
    <span jhiTranslate="sistemaTeatroApp.teatro.home.notFound">No teatros found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="teatros && teatros.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="sistemaTeatroApp.teatro.idTeatro">Id Teatro</span></th>
          <th scope="col"><span jhiTranslate="sistemaTeatroApp.teatro.nomeTeatro">Nome Teatro</span></th>
          <th scope="col"><span jhiTranslate="sistemaTeatroApp.teatro.endereco">Endereco</span></th>
          <th scope="col"><span jhiTranslate="sistemaTeatroApp.teatro.cidade">Cidade</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teatro of teatros; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/teatro', teatro.id, 'view']">{{ teatro.id }}</a>
          </td>
          <td>{{ teatro.idTeatro }}</td>
          <td>{{ teatro.nomeTeatro }}</td>
          <td>{{ teatro.endereco }}</td>
          <td>
            <div *ngIf="teatro.cidade">
              <a [routerLink]="['/cidade', teatro.cidade?.id, 'view']">{{ teatro.cidade?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/teatro', teatro.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/teatro', teatro.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(teatro)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
